/problema1/ProblemaUno/nbproject/private/
/problema1/ProblemaUno/build/
/problema2/ProblemaDos/nbproject/private/
/problema2/ProblemaDos/build/
/problema3/JavaApplication2/nbproject/private/
/problema3/JavaApplication2/build/
/problema4/ProblemaCuatro/nbproject/private/
/problema4/ProblemaCuatro/build/
